
backup_log.txt
*.db
.DS_Store
.env
*.key
# Keys & Secrets
Kronos
*.log
# Logs
# OS
*.pem
*.pyc
__pycache__/
*.pyo
# Python
restart_log.txt
signal_log.txt
*.sqlite3
Thumbs.db
# Trading temp
Trading/tv_snapshot.jpg
